<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName"> <!-- 自动注入 byName 如果bean没有设置name, 默认为id-->

    <context:component-scan base-package="com"/>
<!--    <bean id="snakeDao" class="com.com.snake.ioc.SnakeDaoImpl"/>-->
<!--    <bean id="snakeDao1" class="com.com.snake.ioc.SnakeDaoImpl1"/>-->
<!--    <bean id="snakeService" class="com.com.snake.ioc.SnakeService"/>-->
</beans>